    div.card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.card_unit {
        display: inline-block;

        border-radius: 0px;
        background-color: #050505;
        margin: 10px;
        text-align: center;
        border-radius: 12px;
    }
    div.card_unit:hover {
        background-color: #101010;

    }
    a.card_unit_link {
        text-decoration: none;
    }
    div.card_content {
        padding: 0px;
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    div.card_content_text {
        height: 100px;
        margin-top: 10px;
        font-size: 24pt;
        font-weight: 300;
		color: #FFFFFF;
    }
    div.card_content_desc {
        margin-top: 10px;
        font-size: 0.8em;
        color: #999999;
    }

    img.card_content_image1 {
        width: 256px;
        filter: brightness(1);
    }

    img.card_content_image2 {
        width: 256px;
        filter: brightness(0.7);
    }

    div.card_content_img {
        background-color: #020202;
    }
