    div.card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.card_unit {
        display: inline-block;

        border-radius: 0px;
        background-color: #272727;
        margin: 10px;
        text-align: center;
    }
    div.card_unit:hover {
        background-color: #222222;

    }
    a.card_unit_link {
        text-decoration: none;
    }
    div.card_content {
        padding: 0px;
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    div.card_content_text {
        margin-top: 10px;
        font-size: 1.3em;
		color: #FFFFFF;
    }
    div.card_content_desc {
        margin-top: 10px;
        font-size: 0.8em;
        color: #999999;
    }
    img.card_content_image {

        max-width: 300px;
        width: 300px;
    }
